# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js build
renderer/.next/
renderer/out/

# Production build
dist/
build/

# Logs
*.log
heartbeat.txt
startup_log.txt

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Local env files
.env*.local

# Electron / Binaries
lib/
package-lock.json
/.electron-builder-cache
/winCodeSign
/extracted-tools
PROJECT_GUIDE.md
scripts/Output/dawno_setup_0.0.1_win64.exe
